apiVersion: apps/v1
kind: Deployment
metadata:
  name: cicd-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cicd
  template:
    metadata:
      labels:
        app: cicd
    spec:
      containers:
      - name: cicd-app
        image: 873540495696.dkr.ecr.ap-south-1.amazonaws.com/cicd-app:latest
        imagePullPolicy: Always  
        ports:
        - containerPort: 5000
